<div class="sidebar_card">
  <div class="sidebar_card__container">
   <span>Recent Playlists</span>
   <p class="playlist_element">Try it</p>
   <p class="playlist_element">Syntax</p>
   <p class="playlist_element active">Formal definition</p>
   <p class="playlist_element">Formal syntax</p>
   <p class="playlist_element">Examples</p>
   <p class="playlist_element">See also</p>
  </div>
</div>

<style>
/* From Uiverse.io by Javierrocadev */
.sidebar_card {
  width: 250px;
  height: 100vh;
  background: #1b1a1a;
  color: white;
  font-weight: 600;
  font-size: 1.2em;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.playlist_element {
  color: grey;
  font-size: .8em;
  padding: 6px 15px;
  border-left: 2px solid grey;
  cursor: pointer;
}

.active {
  background-color: #004d92;
  border-left: 2px solid #8cb4ff;
  color: azure;
}

.playlist_element:hover:not(.active) {
  color: #3775bb;
}
</style>

<script>
  // Add event listener to each element
  const container = document.querySelectorAll('.sidebar_card__container');


  // Need to Populate Playlist everytime the Page Loads..... From 
</script>
