<div class="sidebar_card">
  <span>In this article</span>
  <div class="sidebar_card__container">
   <p class="playlist_element">Try it</p> 
   <p class="playlist_element">Syntax</p> 
   <p class="playlist_element active">Formal definition</p> 
   <p class="playlist_element">Formal syntax</p> 
   <p class="playlist_element">Examples</p> 
   <p class="playlist_element">See also</p> 
  </div>
</div>

<style>
/* From Uiverse.io by Javierrocadev */ 
.sidebar_card {
  width: 250px;
  height: 290px;
  border-radius: 15px;
  background: rgb(27, 26, 26);
  color: white;
  font-weight: 600;
  font-size: 1.2em;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: -5px 5px 1px 0px #004d92;
}

.playlist_element {
  color: grey;
  font-size: .8em;
  padding: 6px 15px;
  border-left: 2px solid grey;
  cursor: pointer;
}

.active {
  background-color: #004d92;
  border-left: 2px solid #8cb4ff;
  color: azure;
}

.playlist_element:hover:not(.active) {
  color: #3775bb;
}
</style>
