
{% if item.is_folder %}
    <li>
        <div class="folder">
            <i class="fas fa-folder"></i>
            {{ item.name }}
        </div>
        {% if item.children %}
            <ul>
                {% for child in item.children %}
                    {% include "player/track_tree_include.html" with item=child %}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% else %}
    <li>
        <div class="file">
            <i class="fas fa-file"></i>
            {{ item.name }}
        </div>
    </li>
{% endif %}
